h1 {
	border-top: black 2px solid;
	border-left: black 1px solid;
	border-right: black 1px solid;
	font-size: 70px;
	/*font-family: courier;*/
	font-style: bold;
	text-align: center;
}

h2 {
	border-bottom: black 2px solid;
	border-left: black 1px solid;
	border-right: black 1px solid;
	font-size: 40px;
	text-align: center;
}

h3{
	font-size: 25px;
	text-align: center;
	border-bottom: black 3px solid;
	padding-bottom: 9px;
/*	border-left: black 3px solid;*/
}
#logo {
	position: block;
	border: black 10px solid;
	padding: 10px;
	margin: 5px;
}

ul {
	width: 100%;
	list-style: none;
	padding: 0;
	margin: 0;
	color: black;
	/*overflow: hidden;*/
}

ul li {
	height: 50px;
	/*width: 100%;*/
	display: none;
	color: black;
}
ul:hover ul li {
	display: inline-block;
	position: relative;
	float: left;
	background: red;
	border: black 5px solid;
	color: black;
	height: 50px;
	width: 140px;
	padding: 3px;
/*	width: 100px;*/
	text-align: left;
	margin-bottom: 15px;
}
/*ul li {
	
}*/
li ul {
display: none;
}
ul li a {
display: block;
padding: 1em;
text-decoration: none;
white-space: nowrap;
color: black;	
}

ul li a:hover {
	background: black;
	/*border: black 5px solid;*/
	color: red;
}

li:hover > ul {
display: block;
position: absolute;
/*width: 100%;*/
}
li:hover li {
	float: none;
}
li:hover a {
	background: red;
	color: black;
}
li:hover li a:hover {background: #2c3e50;
width: 467px;
/*padding: 3px;*/}

.main-nav li ul li {border-top: 0;
width: 500px;}

ul ul ul {
/*left: 100%;*/
/*display: block;*/
padding-top: 20px;
/*border-top: black 20px dotted;*/
border-top-width: 10px; 
position: absolute;
/*width: 100px;*/
/*text-align: center;*/
/*top: 0;	
width: 0px;*/
}

ul:before,
ul:after {
	content: " ";
	display: table;
}

ul: after {
	clear: both;
}
/*.main-nav {
	cursor: pointer;
	position: relative ;
}

.main-nav:hover .dropdown {
	display: block;
}
.dropdown:hover .about_dropdown
{
	display: block;
} 


.about_dropdown 
{
display: none;
position: absolute;
border: none;
font-size: 20px;
padding: 20px;
color: black;
background-color: red;
font-family: courier;
font-style: bold;
}

.dropdown:hover .get_involved_dropdown 
{
	display: block;
}
.get_involved_dropdown
{
display: none;
position: absolute;
border: none;
font-size: 20px;
padding: 20px;
color: black;
background-color: red;
font-family: courier;
font-style: bold;
}
.dropdown:hover .programs 
{
	display: block;
}
.programs
{
display: none;
position: absolute;
border: none;
font-size: 20px;
padding: 20px;
color: black;
background-color: red;
font-family: courier;
font-style: bold;
}

.dropdown:hover .acting_classes 
{
	display: block;
}
.acting_classes
{
display: none;
position: absolute;
border: none;
font-size: 20px;
padding: 20px;
color: black;
background-color: red;
font-family: courier;
font-style: bold;
}

.dropdown:hover .news
{
	display: block;
}
.news
{
display: none;
position: absolute;
border: none;
font-size: 20px;
padding: 20px;
color: black;
background-color: red;
font-family: courier;
font-style: bold;
}
.dropdown:hover .rental
{
	display: block;
}
.rental
{
display: none;
position: absolute;
border: none;
font-size: 20px;
padding: 20px;
color: black;
background-color: red;
font-family: courier;
font-style: bold;
}

.dropdown:hover .contact
{
	display: block;
}
.contact
{
display: none;
position: absolute;
border: none;
font-size: 20px;
padding: 20px;
color: black;
background-color: red;
font-family: courier;
font-style: bold;
}

.dropdown {
display: none;
position: absolute;
border: none;
font-size: 20px;
padding: 20px;
color: black;
background-color: red;
font-family: courier;
font-style: bold;
}

.sub-menu{
	position: absolute;
	display: none;
	background-color: blue;
	color: yellow;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.sub-menu a {
	color: white;
	text-decoration: none;
	padding: 12px 16px;
	display: block;

}
*/
/*.sub-menu a:hover {background-color: orange);
}*/


/*ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

ul li {
	display: inline-block;
	background-color: black;
	color: red;
	font-style: bold;
	font-family: courier;
	font-size: 15px;
	position: relative;
}

ul li .sub-menu {
}
:hover*/;